body{
	overflow-x: hidden;
}
.FirstImg{
	background: url(codecode.jpg);
	background-repeat: no-repeat;
  background-size: 100%;
	height: 100%;
	padding: 0;
}
.mainImg{
	background-color: black;
	opacity: 0.7;
	margin: 0;
	padding: 0;
	width: 100%;
}
.titleText{
	color: white;
	margin-top: 11%;
	margin-bottom: 11%;
}
.lightSetting{
	color: black;
}
.darkSetting{
	background-color: rgb(66, 62, 62);
	color: white;
}
.setHeight{
  height: 400px;
}